<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/Assets/home.css">
</head>

<body>
    <h1><i class="fa-brands fa-youtube"></i>Contact list </h1>
    <div>
        <ul>
            <% for (let i of  contact_list){ %>
            <li>
                <P><%= i.name %></P>
                <P><%= i.number %></P>

            </li>

            <!-- delete button -->

            <div>
                <a href="/delete-contact?id=<%= i._id %>">
                    <i class="fas fa-times-circle"></i>
                </a>
            </div>

            <% } %>
        </ul>
    </div>

    <!-- collecting data using from -->
    <form action="/create-contact" method="POST">
        <input type="text" name="name" placeholder="name" required>
        <input type="number" name="number" placeholder="phonenumber" required>

        <button type="submit"> Add to contact</button>

    </form>
    <script src="https://kit.fontawesome.com/23e8664814.js" crossorigin="anonymous"></script>
    <script src="/Assets/script.js"></script>
</body>

</html>