<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <ul><%
    for (let index = 0; index <=5; index++) {%>
        <li><%= index %></li>
    <%}
    %></ul>


<%if (false) {%>
    <h1><%= ("hurray it's work");%></h1>
 <%} else {%>
    <h1><%=("hurray it's not working");%></h1>
    
<%}
%>
</body>
</html>